@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body,html{
  @apply bg-gray-50 text-gray-800;
}

/* html {
  overflow-y: scroll;
} */
/* Custom scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: #a0aec0 #edf2f7;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #edf2f7;
}

*::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  border-radius: 4px;
  border: 2px solid #edf2f7;
}
#app{
  @apply mx-auto max-w-[1024px] sm:w-full px-4;
}